<style>
    .layui-badge-rim + .layui-badge-rim {
        margin-left: 5px;
    }
</style>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">

                    <div class="layui-inline" style="margin: 5px">
                        <button id="upload" class="layui-btn" style="background-color:#6293ff"><i
                                class="layui-icon layui-icon-upload-circle" lay-filter="upload"></i>上传文件
                        </button>
                    </div>

                    <div class="layui-inline" style="margin: 5px">
                        <div class="layui-input-inline" style="width: 400px">
                            <div class="layui-progress layui-progress-big" lay-filter="demo" lay-showPercent="true">
                                <div class="layui-progress-bar layui-bg-blue" lay-percent="0%">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-inline" style="margin: 5px">
                        <div class="layui-input-inline" style="width: 400px;">
                            <p class="layui-text" id="msg"></p>
                        </div>
                    </div>

                    <div class="layui-inline" style="float: right;margin: 5px">
                        <div class="layui-input-inline">
                            <input id="name" class="layui-input" type="text" placeholder="文件名"/>
                        </div>
                        <div class="layui-input-inline">
                            <input id="type" class="layui-input" type="text" placeholder="文件类型"/>
                        </div>
                        <!--<div class="inputs">-->
                        <!--<input id="publishTime" class="layui-input" type="text" placeholder="发布时间"/>-->
                        <!--</div>-->
                        <div class="layui-input-inline">
                            <button id="searchBtn" class="layui-btn icon-btn"><i class="layui-icon">&#xe615;</i>搜索
                            </button>
                            <button id="clearBtn" class="layui-btn icon-btn"><i
                                    class="layui-icon layui-icon-refresh-3"></i>重置
                            </button>
                        </div>
                    </div>


                </div>
                <table class="layui-table" id="table" lay-filter="table"></table>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="downTpl">
    <a href="/media/{{d.name}}" target="_blank" class="layui-table-link" download="">下载</a>
</script>
<script>
    layui.use(['layer', 'form', 'table', 'util', 'formSelects', 'admin', 'config', 'laydate', 'upload', 'element'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var formSelects = layui.formSelects;
        var admin = layui.admin;
        var config = layui.config;
        var laydate = layui.laydate;
        var upload = layui.upload;
        var element = layui.element;
        var mRoles = [];  // 全部角色
        // laydate.render({
        //     elem: '#startTime'
        //     , type: 'datetime'
        // });
        // laydate.render({
        //     elem: '#endTime'
        //     , type: 'datetime'
        // });
        //指定允许上传的文件类型
        var i, j, filename;
        var up = upload.render({
            elem: '#upload'
            , data: {access_token: config.getToken()}
            , url: config.base_server + '/file'
            , accept: 'file' //普通文件
            , size: 1024 * 1024 * 2 //2GB限制
            , choose: function (obj) {
                obj.preview(function (index, file, result) {
                    filename = file.name;
                    $('#msg').text(filename);
                });
            }
            , progress: function (n) {
                element.progress('demo', n + '%'); //可配合 layui 进度条元素使用
            }, before: function (n) {
                $('#upload').attr("disabled", 'disabled');
                j = layer.load(2)
            }
            , done: function (res) {
                layer.close(j);
                $('#upload').removeAttr("disabled");
                table.render(tableOptions);
                element.progress('demo', '0%');
                if (res.code === 200) {
                    $('#msg').text('上传完成:' + filename);
                    return layer.msg(res.msg, {icon: 1, time: 1500});
                }
                $('#msg').text(res.msg + filename);
                return layer.msg(res.msg, {icon: 2, time: 1500});
            }, error: function () {
                //演示失败状态，并实现重传
                layer.close(j);
                var demoText = $('#msg');
                demoText.html('上传失败,<a class="layui-btn demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    up.upload();
                });
            }
        });
        form.render();
        var tableOptions = {
            elem: '#table',
            url: config.base_server + 'file',
            where: {
                access_token: config.getToken()
            },
            even: false, //关闭隔行背景
            //toolbar: '#toolbarDemo',
            page: true,
            limit: 20,
            cellMinWidth: 100,
            cols: [[
                {type: 'checkbox'},
                {field: 'name', title: '文件名', align: 'center'},
                {field: 'size', title: '文件大小', align: 'center'},
                {
                    field: 'date', title: '创建时间', width: 200, sort: true, templet: function (d) {
                        if (d.date) {
                            return layui.util.toDateString(d.date, 'yyyy-MM-dd HH:mm:ss');
                        } else return "暂无";
                    }, align: 'center'
                },
                {
                    field: 'type', title: '文件类型', align: 'center', templet: function (d) {
                        if (d.type) {
                            return d.type;
                        } else return "文件";
                    }
                },
                {field: 'type', title: '操作', align: 'center', templet: '#downTpl'}
            ]]
        };
        // 渲染表格
        table.render(tableOptions);
        // 搜索按钮点击事件
        $('#searchBtn').click(function () {
            var name = $('#name').val().trim();
            var type = $('#type').val().trim();
            table.reload('table', {
                where: {
                    name: name,
                    type: type
                }
            });
        });

        //重置按钮点击事件
        $('#clearBtn').click(function () {
            $('#name').val('');
            $('#type').val('');
            table.render(tableOptions);
            form.render();
        });

        // 工具条点击事件
        table.on('tool(table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            /*if (layEvent === 'del') { // 删除
                layer.confirm('确定删除此数据吗？', {
                    skin: 'layui-layer-admin'
                }, function (i) {
                    layer.close(i);
                    layer.load(2);
                    admin.req('appManage/' + obj.data.id, {}, function (data) {
                        layer.closeAll('loading');
                        if (data.code == 200) {
                            layer.msg(data.msg, {icon: 1});
                            obj.del();
                        } else {
                            layer.msg(data.msg, {icon: 2});
                        }
                    }, 'DELETE');
                });
            } else */
            if (layEvent === 'download') { // 修改数据
                download(data);
            }
        });


        //头工具栏事件
        table.on('toolbar(sourceTable)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'toolBarAdd':
                    showEditModel();
                    break;
                case 'batchDel':
                    var data = checkStatus.data;
                    batchDel(data);
                    break;
            }
        });

        // 显示表单弹窗
        function showEditModel(data) {
            admin.open({
                type: 1,
                area: '980px',
                offset: '65px',
                title: data ? '修改入口地址信息' : '添加入口地址信息',
                content: $('#sourceForm').html(),
                success: function (layero, index) {
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                    laydate.render({
                        elem: '#assignTime'
                        , type: 'datetime'
                    });
                    var tip_index = 0;
                    var t = $('.layui-form-label');
                    for (let i = 0; i < t.length; i++) {
                        let item = $(t[i]);
                        if (item.attr("desc") && item.attr("desc") !== '') {
                            item.on('mouseenter', item, function () {
                                tip_index = layer.tips(item.attr("desc"), item, {
                                    anim: 5,
                                    tips: [3, '#CFD8DC'],
                                    time: 0
                                });
                            }).on('mouseleave', item, function () {
                                layer.close(tip_index);
                            });
                        }
                    }
                    // 回显数据
                    if (data) {
                        form.val('fileForm', data);
                        $("form input").on('change', function () {
                            $(this).addClass("modified");
                        });
                        var u = $(".unmodify");
                        u.addClass('final');
                        u.attr('disabled', 'disabled');
                    }
                    // 表单提交事件
                    form.on('submit(formSubmit)', function (d) {
                        layer.load(2);
                        admin.req('source', d.field, function (res) {
                            layer.closeAll('loading');
                            if (res.code == 200) {
                                layer.msg(res.msg, {icon: 1, time: 1000});
                                layer.closeAll('page');
                                table.reload('sourceTable');
                            } else {
                                layer.msg(res.msg, {icon: 2, time: 1000});
                            }
                        }, data ? 'PUT' : 'POST');
                        return false;
                    });
                    form.render();
                }
            });
        }

        function batchDel(data) {
            if (data.length < 1) {
                layer.msg("没有选择任何一行!")
            } else {
                layer.confirm('确定要删除选中的行吗', function (index) {
                    var ids = [];
                    data.forEach(function (val) {
                        ids.push(val.id);
                    });
                    admin.req('source/batchDel/' + ids, {}, function (callData) {
                        if (callData.code === 200) {
                            layer.msg(callData.msg, {icon: 1, time: 1000});
                        } else {
                            layer.msg(callData.msg, {icon: 2, time: 1000});
                        }
                    }, 'DELETE');
                    table.render(tableOptions);
                    layer.close(index);
                });
            }
        }


    })
    ;
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="toolBarAdd"><i class="layui-icon layui-icon-add-1"></i>添加
        </button>
        <button class="layui-btn layui-btn-danger layui-btn-sm" lay-event="batchDel"><i
                class="layui-icon layui-icon-delete"></i>删除
        </button>
    </div>
</script>